@page
@model E_Book_Trading_Platform.Pages.CartModel
@{
    ViewData["Title"] = "Cart";
}

<div id="page_cart" class="card">
    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th>序号</th>
                <th>封面</th>
                <th>书名</th>
                <th>价格</th>
                <th>数量</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @{  int i = 1;
                foreach (var item in Model.Order)
                {
                <tr>
                    <td>
                        @(i++)
                    </td>
                    <td>

                    </td>
                </tr>                   
                } 
              }
        </tbody>
    </table>
    @if(Model.Order == null)
    {
        <p1>您的购物车是空的，快去书店逛逛吧!</p1>
    }
    <h1 class="text-center text-info">
        <asp:Label ID="EmptyInfo" runat="server" Text=""></asp:Label>
    </h1>
    <br />
</div>